@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Layout geral */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Previne o scroll horizontal */
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(
    to right,
    rgba(224, 245, 220, 0.6),
    rgba(220, 241, 237, 0.6)
  );
}

a {
  text-decoration: none;
  color: #2a8451;
}

.home-container, .intro-section, .text-section {
  max-width: 100%; /* Garante que os elementos não excedam a largura da tela */
}

/* Ajuste para o botão de menu */
#menuToggle {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

#menuToggle span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background: #191919;
  border-radius: 3px;
  transition: transform 0.5s, background 0.5s, opacity 0.55s ease;
}

/* Estilo do menu */
#menu {
  position: fixed;
  top: 20px;
  right: 50px;
  margin-top: 70px;
  list-style-type: none;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  transition: all 0.5s ease;
}

#menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#menuToggle ul li {
  padding: 15px 0;
  font-size: 20px;
  text-align: right;
}

#menuToggle ul li a {
  color: #2a8451;
  text-decoration: none;
  transition: color 0.3s ease;
}

#menuToggle ul li a:hover {
  color: #191919;
}

#menuToggle span.open:nth-of-type(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#menuToggle span.open:nth-of-type(2) {
  opacity: 0;
}

#menuToggle span.open:nth-of-type(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Home Section */
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.intro-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  gap: 100px;
}

.text-section {
  flex: 1;
  text-align: center;
}

.text-section h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #191919;
  animation: fadeInUp 2s ease forwards;
}

.text-section h2 {
  font-size: 6rem;
  font-weight: 600;
  color: #191919;
}

.text-section p {
  font-size: 2.2rem;
  color: #2a8451;
  opacity: 0;
  animation: fadeInUp 4s ease forwards;
}

.image-wrapper {
  flex: 1;
  max-width: 600px;
  border-radius: 35px;
  border: 45px solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Animação de fade-in para o texto e imagem */
@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Estilos da seta para Scroll Down */
.scroll-down-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.scroll-down-arrow {
  width: 50px;
  animation: bounce 2s infinite;
  display: block;
  margin: 0 auto;
  margin-right: 750px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* About Me Section */
.about-section {
  padding: 80px 90px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.about-title {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #191919;
  margin-bottom: 40px;
  max-width: 400px;
  word-break: break-word;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 750px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 70px;
}

.card {
  background: #fff;
  padding: 15px 25px;
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  max-width: 700px;
  width: 100%;
}

.card:hover {
  transform: translateY(0) scale(1.05);
}

.card-title {
  font-size: 2rem;
  color: #2a8451;
  font-weight: bold;
}

.card-content {
  font-size: 1.4rem;
  color: #191919;
}

/* Three Interesting Facts Section */
.facts-section {
  padding: 80px 90px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-size: 3.0rem; /* Aumenta o tamanho da fonte do título */
  font-weight: bold;
  color: #191919;
  margin-bottom: 10px; /* Espaçamento ajustado abaixo do título */
  text-align: left; /* Alinhamento do título à esquerda */
}

.facts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 750px;
  margin-left: auto;
  margin-right: 0;
}

.fact-card {
  background: #fff;
  padding: 15px 25px;
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  max-width: 700px;
  width: 100%;
}

.fact-card:hover {
  transform: translateY(0) scale(1.05);
}

.fact-card .card-title {
  font-size: 2rem;
  color: #2a8451;
  font-weight: bold;
}

.fact-card .card-content {
  font-size: 1.4rem;
  color: #191919;
}

/* Seção de Projetos */
.projects-section {
  padding: 80px 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Grid de Projetos */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  gap: 20px; /* Espaçamento entre os cards */
  max-width: 1200px;
  width: 100%;
  justify-content: center;
}

/* Estilos para os cards */
.project-item {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.project-item.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

.project-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-item h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 15px;
}

.project-item:hover {
  transform: translateY(-5px) scale(1.05);
}

/* Contact Section */
.contact-section {
  display: flex;
  justify-content: space-between; /* Ajusta o espaço entre o título e o formulário */
  padding: 100px 50px;
  position: static;
  overflow: visible;
}

.contact-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Mantém o título no topo */
  align-items: flex-start;
}

.section-title {
  font-size: 3.5rem;
  color: #191919;
  margin-bottom: 40px;
  text-align: left;
  margin-left: 20px; /* Aproxima o título da borda esquerda */
  line-height: 1.2; /* Ajusta o espaçamento entre as linhas */
}

.section-title .line1 {
  display: block; /* Garante que o texto esteja em linhas separadas */
}

.section-title .line2 {
  display: block; /* Garante que o texto esteja em linhas separadas */
}

.social-icons {
  position: fixed; /* Fixa o elemento na viewport, independente do contêiner */
  bottom: 20px; /* Próximo ao rodapé */
  left: 20px; /* Bem próximo ao canto esquerdo */
  /*display: flex;*/
  flex-direction: column; /* Alinhar os ícones em coluna */
  align-items: flex-start;
  gap: 10px;
  z-index: 1000; /* Garante que esteja acima de outros elementos */
  margin-left: 0; /* Remove possíveis margens herdadas */
  transform: none; /* Garante que transformações antigas não afetem */
  transform: translateX(-850%);
}


.social-icons p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #191919;
  text-align: left;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1); /* Amplia os ícones ao passar o mouse */
}

.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o título e o formulário */
  gap: 40px;
  margin-top: 50px;
}

.contact-title {
  font-size: 2rem;
  color: #191919;
  margin-bottom: 20px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;
}

.input-field {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 1.6rem;
}

.textarea {
  height: 150px;
}

.contact-submit-btn {
  background: #2a8451;
  color: white;
  padding: 15px 20px;
  font-size: 1.6rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contact-submit-btn:hover {
  transform: scale(1.05);
}


/* Responsividade */
@media (max-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
  }
}
/* Ajuste para telas médias */
@media (max-width: 1024px) {
  #contact .social-icons {
    transform: translateX(-295%); /* Reposiciona para telas médias */
    /*position: static;*/
  }
}
@media (max-width: 768px) {
  /* Ajustes no menu */
  #menuToggle {
    /*right: 50%;*/
    transform: translateX(-50%);
  }

  .intro-section {
    padding: 0 15px; /* Ajuste de espaçamento apenas no mobile */
    flex-direction: column; /* Certificar que o layout fique vertical no mobile */
  }

  .projects-grid {
    grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
    padding: 0 15px;

  }

  .image-wrapper {
    display: none; /* Esconde a imagem no mobile */
  }

  .text-section h1 {
    font-size: 2rem;
  }

  .text-section h2 {
    font-size: 4rem;
  }

  .text-section p {
    font-size: 1.8rem;
  }

  .scroll-down-arrow {
    margin: 0 auto;
    /* margin-right: 750px; */
}

  .about-section {
    flex-direction: column;
    padding: 40px 80px;
  }

  .cards-container {
    width: 100%;
    margin: 0 auto;
  }

  .facts-section {
    flex-direction: column;
    padding-left: 40px;
  }

  .contact-section {
    flex-direction: column;
    align-items: center;
    /*padding: 40px 20px;*/
    gap: 20px;
  }

  .contact-left {
    text-align: center; /* Centraliza o texto do título */
    width: 100%; /* Garante que ocupe toda a largura disponível */
  }

  .contact-right {
    width: 100%; /* Garante que o formulário ocupe toda a largura disponível */
    padding-bottom: 20px; /* Adiciona espaçamento inferior */
  }

  .social-icons {
    position: static; /* Remove posição fixa */
    transform: none; /* Remove qualquer transformação */
    margin: 20px auto 0; /* Centraliza horizontalmente */
    flex-direction: row; /* Alinha os ícones horizontalmente */
    justify-content: center;
    order: 2; /* Reposiciona os ícones abaixo do formulário */
    transform: translateX(-250%);
  }

  .contact-left {
    order: 0; /* Mantém o título na ordem correta */
  }

  /* Rodapé 
  .footer {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 1rem;
    color: #191919;
    position: relative;
    margin-top: 20px;
  }*/
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background-color: transparent; /* Fundo transparente para se ajustar ao design */
  font-size: 1.0rem;
  color: #191919;
  position: absolute; /* Mantém o rodapé na parte inferior da seção */
  bottom: 0;
}